#header {
	flex-basis: 0;
	flex-grow: 0;
	flex-shrink: 0;

	.bar {
		background-color: #3f51b5;
		box-sizing: border-box;
		color: #fff;
		display: flex;
		flex-direction: row;
		margin-left: $menu-width;
		padding: 0 10px;
		width: calc(100% - #{$menu-width});

		.title {
			flex-basis: 0;
			flex-grow: 0;
			flex-shrink: 0;
			font-size: 1.25rem;
			font-weight: 500;
			line-height: 1.6;
			letter-spacing: 0.0075em;
			padding: 10px;
		}

		#loaderWrapper {
			flex-basis: 0;
			flex-grow: 1;
			flex-shrink: 1;
			padding-top: 15px;
			text-align: center;
			z-index: 1000;
		}

		.MuiSvgIcon-root {
			color: #fff;
		}
	}
}

#menu {
	height: 100%;

	.MuiDrawer-paper {

		.pages {
			flex-basis: 0;
			flex-shrink: 0;
			flex-grow: 0;
			padding: 0;
		}

		.claims {
			flex-basis: 0;
			flex-shrink: 1;
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			overflow-y: auto;
			padding: 0;

			.menuHeader {
				background-color: rgba(0, 0, 0, .03);
				cursor: pointer;
			}

			.menuHeader:hover {
				background-color: rgba(0, 0, 0, .3);
			}
		}
	}

	.transferred {
		background-color: #dff0ff;
	}

	.MuiListItem-root {
		align-items: normal;

		.MuiListItemAvatar-root {
			padding-top: 10px;
		}

		.MuiListItemText-root {

			.customerDetails {
				p {
					margin: 0;
				}
			}

			.customerActions {
				display: flex;
				flex-direction: row;

				.tooltip {
					display: inline-block;
					flex-grow: 1
				}

				button {
					padding: 5px;
				}

				.close:hover {
					color: red;
				}

				.list:hover {
					color: #3f51b5;
				}

				.transfer:hover {
					color: yellow;
				}

				.provider:hover, .resolve:hover {
					color: green;
				}
			}
		}
	}
}

.MuiDrawer-root {
	.MuiPaper-root {
		width: $menu-width;
	}
}

@media (max-width: 600px) {

	#header {

		.bar {
			width: 100%;
			margin-left: 0;

			.MuiIconButton-root {
				padding: 5px;
				padding-left: 10px;
			}

			.MuiToolbar-gutters {
				padding-right: 5px;
			}
		}
	}
}
