.summary {
	margin-bottom: 5px;
	padding: 10px;

	button {
		width: 90%;
	}

	.messages {
		padding: 10px;

		.message:before {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
		}

		.message {
			border-radius: 10px;
			margin-bottom: 10px;
			padding: 10px;
			position: relative;
			width: 80%;

			.content {
				p {
					margin-bottom: 10px;
				}
			}
		}

		.message:after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
		}

		.Incoming:before {
			border-top: 17px solid #97c6e3;
			border-left: 16px solid transparent;
			border-right: 16px solid transparent;
			left: -17px;
			top: -1px;
		}

		.Incoming {
			background-color: #a8ddfd;
			border: 1px solid #97c6e3;
			margin-left: 20px;
		}

		.Incoming:after {
			border-top: 15px solid #a8ddfd;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			left: -15px;
			top: 0;
		}

		.Outgoing:before {
			border-bottom: 17px solid #dfd087;
			border-left: 16px solid transparent;
			border-right: 16px solid transparent;
			bottom: -1px;
			right: -17px;
		}

		.Outgoing {
			background-color: #f8e896;
			border: 1px solid #dfd087;
			margin-left: calc(20% - 17px);

			.footer {
				text-align: right;
			}
		}

		.Outgoing:after {
			border-bottom: 15px solid #f8e896;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			bottom: 0;
			right: -15px;
		}

		.footer {
			font-size: 80%;
		}
	}
}

.summary.sales {
	background-color: #e0e0e0;
}
