/* html5doctor reset */
@import '3rd/reset';

/* variables */
$menu-width: 250px;

/* components */
@import 'footer';
@import 'format';
@import 'header';

/* composites */
@import 'composites/cancelContinuous';
@import 'composites/custom_lists';
@import 'composites/decline';
@import 'composites/dialogs';
@import 'composites/msg_summary';

/* pages */
@import 'pages/agents';
@import 'pages/customer';
@import 'pages/hrt';
@import 'pages/pending';
@import 'pages/pharmacy';
@import 'pages/reminders';
@import 'pages/search';
@import 'pages/stats';
@import 'pages/templates';
@import 'pages/unclaimed';
@import 'pages/version';

html, body, #root, #site {
	height: 100%;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a, a:active, a:hover, a:link, a:visited {
	color: inherit;
	text-decoration: none;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

p {
	margin-bottom: 10px;
}

td {
	vertical-align: top !important;
}

// Site
#site {
	display: flex;
	flex-direction: column;
}

#content {
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
	margin-left: $menu-width;
	width: calc(100% - #{$menu-width});
}

@media (max-width: 600px) {

	#content {
		width: 100%;
		margin-left: 0;
	}
}

#manual_adhoc {
	padding: 10px;
}

/* classes */
.page {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.MuiFormControl-root.dialog {
	margin-bottom: 20px;
	width: 100%;
}

.MuiPaper-root.padded {
	margin-bottom: 20px;
	padding: 10px;
}

.MuiTextField-root {
	width: 100%;
}

.MuiTypography-h1, .MuiTypography-h2, .MuiTypography-h3,
.MuiTypography-h4, .MuiTypography-h5, .MuiTypography-h6 {
	font-weight: 400 !important;
	margin-bottom: 10px !important;
}

.MuiTypography-h1, .MuiTypography-h2, .MuiTypography-h3,
.MuiTypography-h4, .MuiTypography-h5, .MuiTypography-h6 {
	font-weight: 400 !important;
	margin-bottom: 10px !important;
}

.MuiBox-root.rounded {
	border: 1px solid #cecece;
	border-radius: 5px;
	margin-bottom: 15px;
	padding: 10px;
}

.MuiBox-root.actions {
	text-align: right;

	button {
		margin-left: 10px;
	}
}

.MuiBox-root.actions {
	text-align: right;

	button {
		margin-left: 10px;
	}
}

.MuiTab-root {
	min-width: 0 !important;
}

.group_header, .page_header, .section_header {
	display: flex;
	margin: 0 0 10px 0;

	.MuiTypography-root {
		flex-basis: 0;
		flex-shrink: 1;
		flex-grow: 1;
	}

	button {
		position: relative;
	}
}

.group_header {

	.title {
		font-size: 1.75rem;
	}

	button {
		top: -10px;

		.MuiSvgIcon-root {
			font-size: 1.5rem;
		}
	}
}

.page_header {

	.title {
		font-size: 2rem;
		font-weight: 600;
	}

	button {
		top: -15px;

		.MuiSvgIcon-root {
			font-size: 2.5rem;
		}
	}
}

.right20 {
	margin: 10px 20px 10px 0;
}

.section_header {

	.title {
		font-size: 1.75rem;
		font-weight: 600;
	}

	.sub-title {
		font-size: 1.5rem;
		font-weight: 600;
	}

	button {
		top: -10px;

		.MuiSvgIcon-root {
			font-size: 1.5rem;
		}
	}
}

.flexColumns {
	display: flex;
	flex-direction: row;
}

.flexRows {
	display: flex;
	flex-direction: column;
}

.flexColumns, .flexRows {

	.grow {
		flex-basis: 0;
		flex-grow: 1;
		flex-shrink: 1;
	}

	.static {
		flex-basis: auto;
		flex-grow: 0;
		flex-shrink: 0;
	}
}
