/* html5doctor reset */
@import '3rd/reset';

/* generic */
@import 'loader';

/* variables */
$menu-width: 250px;

/* components */
@import 'format';
@import 'header';

/* pages */
@import 'customer';
@import 'unclaimed';

html, body, #root, #site {
	height: 100%;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

p {
	margin-bottom: 10px;
}

#site {
	display: flex;
	flex-direction: column;
}

header {
	flex-grow: 0;
}

// Site
#content {
	margin-left: $menu-width;
	width: calc(100% - $menu-width);
	flex-grow: 1;
}

@media (max-width: 600px) {

	#content {
		width: 100%;
		margin-left: 0;
	}
}

a, a:active, a:hover, a:link, a:visited {
	color: inherit;
	text-decoration: none;
}

.fakeAnchor {
	cursor: pointer;
}

.form, .search {

	.actions {
		flex: 0 0 auto;
		display: flex;
		padding: 8px;
		align-items: center;
		justify-content: flex-end;

		.MuiButtonBase-root {
			margin-left: 10px;
		}
	}
}

.permissions {

	.title {
		font-weight: bold;
	}

	.name {
		padding-top: 22px !important;
	}
}

.MuiPaper-root.padded {
	margin-bottom: 20px;
	padding: 10px;
}

.MuiTypography-h1, .MuiTypography-h2, .MuiTypography-h3,
.MuiTypography-h4, .MuiTypography-h5, .MuiTypography-h6 {
	margin-bottom: 5px;
}

.pageHeader {
	display: flex;

	.title {
		flex-grow: 1
	}

	.icon {
		font-size: 3.5rem;
	}
}

.MuiTableContainer-root.results {
	.MuiTableCell-root.actions {
		.MuiSvgIcon-root {
			margin-left: 10px;
		}
	}
}
