[submodule "src/definitions"]
	path = src/definitions
	url = git@github-me:bastmaleexcel/medefs.git
[submodule "src/components/format"]
	path = src/components/format
	url = git@github-me:bastmaleexcel/react-format
