#customer {

	header {
		flex-grow: 0;
		flex-shrink: 0;
	}

	.messaging, .logsTab, .konnektive, .mip, .notes, .prescriptions, .hrtTab, .misc {
		flex-basis: 0;
		flex-grow: 1;
		flex-shrink: 1;
		overflow: auto;
	}

	.konnektive, .mip, .prescriptions, .hrtTab, .misc {
		padding: 10px;
	}

	.messaging, .notes {
		display: flex;
		flex-direction: column;

		.info {
			border-bottom: 1px solid grey;
			flex-grow: 0;
			flex-shrink: 0;
			padding: 10px;

			.title {
				display: inline-block;
				font-weight: 700;
				font-size: 110%;
				margin: 10px 10px 10px 0;
				vertical-align: middle;
			}

			.MuiIconButton-root {
				margin-top: -5px;
				padding: 9px;
			}

			.MuiSvgIcon-root {
				font-size: 1.0rem;
			}
		}

		.messages {
			flex-basis: 0;
			flex-grow: 1;
			flex-shrink: 1;
			overflow: auto;
			padding: 10px;

			.scroll {
				flex-grow: 0;
				flex-shrink: 0;
				height: 0;
				margin: 0;
				padding: 0;
			}
		}

		.templates {
			flex-grow: 0;
			flex-shrink: 0;
			width: 100%;
		}

		.select {
			width: 100%;
		}

		.send {
			flex-grow: 0;
			flex-shrink: 0;
			display: flex;
			flex-direction: row;
			width: 100%;

			.text {
				flex-grow: 1;
			}

			button {
				flex-grow: 0;
				width: 150px;
			}
		}
	}

	.logsTab {
		display: flex;
		flex-direction: column;

		.logsTabs {
			flex-basis: auto;
			flex-shrink: 0;
			flex-grow: 0;
		}

		.logsContent {
			flex-basis: 0;
			flex-shrink: 1;
			flex-grow: 1;
			display: flex;
			flex-direction: column;

			.calls {
				flex-basis: 0;
				flex-shrink: 1;
				flex-grow: 1;
				overflow: auto;
				padding: 10px;
			}

			.emails {
				flex-basis: 0;
				flex-shrink: 1;
				flex-grow: 1;
				overflow: auto;
				padding: 10px;

				.emailTitle {
					font-size: 1.25rem;
					font-weight: bold;
				}

				.emailLeft {
					p.MuiTypography-root {
						font-weight: bold;
						text-align: right;
					}
				}

				.emailRight {
					text-align: left;
				}
			}
		}
	}

	.konnektive {

		a {
			color: #0077cc;
		}

		.customer {
			margin-bottom: 10px;
		}

		th.MuiTableCell-stickyHeader {
			background-color: #a0dcf9;
		}

		td {
			vertical-align: top;
		}

		td.notes div, td.tracking div {
			max-height: 200px;
			overflow: auto;
		}

		.orders {

			.product {
				padding: 10px;
			}

			.sync {
				margin-left: 10px;
			}
		}
	}

	.mip {

		.MuiExpansionPanelSummary-root {
			background-color: #6b90d4;
			color: #ffffff;
		}

		.MuiExpansionPanelDetails-root {
			display: block;
		}

		.MuiGrid-item {
			text-align: center;
		}

		.question {
			margin-bottom: 10px;

			.qtitle, .qanswer, .qoptions {
				padding: 10px;
			}

			.qtitle {
				background-color: #a0dcf9;
				display: flex;
				flex-direction: row;
				width: 100%;

				span {
					flex-grow: 1;
					display: block;
				}

				svg {
					flex-grow: 0;
				}
			}

			.qoptions {

				.MuiFormControl-root, .MuiInputBase-root {
					width: 100%;
				}
			}

			.noanswer {
				color: red;
			}
		}
	}

	.prescriptions {
		hr {
			border-top:1px solid #ff0000;
		}
	}

	.hrtTab {

		.patient, .hrtLabResults {
			margin-bottom: 10px;
		}

		.hrtLabResults {

			.container {
				max-height: 400px
			}

			tr.dates {

				.empty {
					background-color: #fff
				}

				.even, .odd {
					background-color: #000;
					color: #fff;
					font-weight: bold;
					text-align: center
				}
			}

			tr.test {

				td.title {
					background-color: inherit;
				}
			}

			tr.test.odd {
				background-color: #dfdfdf;
			}

			tr.test.even {
				background-color: #fff;
			}

			td.title {
				background-color: inherit;
				left: 0;
				position: -webkit-sticky;
				position: sticky;
				z-index: 1;
			}

			td.date {
				width: 220px;
				text-align: center;

				.result {
					display: flex;

					.left {
						flex-basis: auto;
						flex-shrink: 0;
						flex-grow: 0;
						font-weight: bold;
						padding-right: 5px;
						text-align: right;
					}

					.right {
						flex-basis: 0;
						flex-shrink: 1;
						flex-grow: 1;
						padding-left: 5px;
						text-align: left;
					}
				}
			}
		}

		.hrtAssessmentLevels {

			.container {
				max-height: 420px
			}

			tr.dates {

				.empty {
					background-color: #fff
				}

				.even, .odd {
					background-color: #000;
					color: #fff;
					font-weight: bold;
					text-align: center
				}
			}

			tr.category {

				td.title {
					background-color: inherit;
					display: flex;

					.text {
						flex-basis: 0;
						flex-shrink: 1;
						flex-grow: 1;
						font-weight: bold
					}

					.action {
						flex-basis: auto;
						flex-shrink: 0;
						flex-grow: 0;
						padding: 0;

						.open {
							color: green;
						}

						.close {
							color: red;
						}
					}
				}
			}

			tr.category.odd {
				background-color: #dfdfdf;
			}

			tr.category.even {
				background-color: #fff;
			}

			tr.question {

				td.title {
					padding-left: 50px;
				}

				td {
					color: #1155cc;
				}
			}

			tr.question.odd {
				background-color: #cfe2f3;
			}

			tr.question.even {
				background-color: #f2f7ff;
			}

			td.title {
				background-color: inherit;
				left: 0;
				min-width: 230px;
				position: -webkit-sticky;
				position: sticky;
				z-index: 1;
			}

			td.date {
				min-width: 110px;
				text-align: center;
			}
		}
	}

	.misc {

		.patient {

			.MuiIconButton-root.nopadding {
				padding: 0;
			}

			.edit {
				margin-top: -4px;
			}
		}
	}
}

@media (max-width: 600px) {

	#customer {

		.messaging {

			.send {

				button {
					width: 50px;
				}
			}
		}

		.MuiTab-root {
			min-width: 0;
		}
	}
}
