#stats {

	header {
		flex-grow: 0;
		flex-shrink: 0;
	}

	.claimed, .welldyne {
		flex-basis: 0;
		flex-grow: 2;
		flex-shrink: 2;
		overflow: auto;
		padding: 10px;
		width: 100%;
	}

	.welldyne {

		.name {
			display: inline-block;
			width: 100px;
		}
		.number {
			display: inline-block;
			text-align: right;
			width: 60px;
		}
	}
}
